{% extends "layout.html" %} {% block content %}

<section
  class="bg-white rounded-2xl shadow-xl p-8 w-full gap-8 flex flex-col items-center"
>
  <!-- Header Section -->
  <header class="py-8 px-6 text-center flex flex-col gap-4 items-center">
    <div class="flex flex-row items-center gap-4">
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        alt="Logo"
        class="w-8 h-8 md:w-12 md:h-12 object-cover mx-auto"
      />
      <h1 class="text-3xl md:text-4xl font-bold text-blue-800">Fresyn!</h1>
    </div>
    <img
      src="{{ url_for('static', filename='logo.png') }}"
      alt="Logo"
      class="w-28 h-28 md:w-40 md:h-40 object-cover mx-auto"
    />
    <p class="text-2xl md:text-3xl font-bold text-blue-800">
      Selamat Datang di Fresyn!
    </p>
    <h2 class="text-lg text-black mb-8 text-center">
      Yuk, cek kesegaran ikan tongkolmu di sini!
    </h2>
  </header>

  <a
    class="w-full py-3 px-6 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-xl transition duration-300 transform hover:scale-105 max-w-md mx-auto self-center flex items-center justify-center"
    href="/scan"
  >
    Mulai Klasifikasi
  </a>

  <div class="space-y-6 mx-auto w-fit my-8">
    <!-- Feature 1 -->
    <div class="flex items-start">
      <div class="flex-shrink-0 mt-1">
        <div
          class="w-6 h-6 rounded-full border-2 border-blue-500 flex items-center justify-center"
        >
          <div class="text-blue-500 font-black">&check;</div>
        </div>
      </div>
      <div class="ml-3">
        <p class="text-lg font-medium text-gray-800">Tanpa login</p>
        <p class="text-gray-600 mt-1">
          Langsung gunakan tanpa perlu membuat akun
        </p>
      </div>
    </div>

    <!-- Feature 2 -->
    <div class="flex items-start">
      <div class="flex-shrink-0 mt-1">
        <div
          class="w-6 h-6 rounded-full border-2 border-blue-500 flex items-center justify-center"
        >
          <div class="text-blue-500 font-black">&check;</div>
        </div>
      </div>
      <div class="ml-3">
        <p class="text-lg font-medium text-gray-800">Gratis digunakan</p>
        <p class="text-gray-600 mt-1">
          Tidak ada biaya apapun untuk semua fitur
        </p>
      </div>
    </div>

    <!-- Feature 3 -->
    <div class="flex items-start">
      <div class="flex-shrink-0 mt-1">
        <div
          class="w-6 h-6 rounded-full border-2 border-blue-500 flex items-center justify-center"
        >
          <div class="text-blue-500 font-black">&check;</div>
        </div>
      </div>
      <div class="ml-3">
        <p class="text-lg font-medium text-gray-800">Gunakan kamera langsung</p>
        <p class="text-gray-600 mt-1">
          Scan ikan langsung dari kamera perangkat Anda
        </p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w-full max-w-md flex flex-col items-center">
    <div class="flex flex-row items-center gap-3">
      <p>&checkmark;</p>
      <p class="text-gray-600">Proses cepat, offline, dan privasi kamu aman</p>
    </div>

    <div class="py-8 px-6 bg-transparent text-black">
      <div class="max-w-4xl mx-auto">
        <div class="mt-4 text-center text-gray-600 text-sm">
          <p>Solusi cerdas untuk memastikan kesegaran ikan tongkol Anda</p>
        </div>
        <div class="flex flex-col justify-center items-center mt-4 text-sm">
          <p class="">&copy;2025 Fresyn</p>
        </div>
      </div>
    </div>
  </footer>
</section>

<!-- Footer -->

{% endblock %}
